# Configuration file

####################
# modidmammoth
####################

modidmammoth {
    S:biomegroups <MODIDMAMMOTH_DEFAULT>
    B:canSpawn=true
    I:frequency=1
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# modidmammothzombie
####################

modidmammothzombie {
    S:biomegroups <MODIDMAMMOTHZOMBIE_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# modidscorpionsmall
####################

modidscorpionsmall {
    S:biomegroups <MODIDSCORPIONSMALL_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=5
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# modidwhale
####################

modidwhale {
    S:biomegroups <MODIDWHALE_DEFAULT>
    B:canSpawn=true
    I:frequency=1
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=WATERCREATURE
}


