# Configuration file

####################
# block
####################

block {
    I:Antianti=4050
    I:Antibuilder=4051
    I:ArrowTrap=4066
    I:ArrowTrapItemBlock=4062
    I:CoverPlate=4064
    I:CoverPlateItemBlock=4061
    I:DeadDrop=4065
    I:FakeBlock=4055
    I:FakeBlockItemBlock=4060
    I:FakeTileEntity=4053
    I:FloatingBlock=4052
    I:InvisBedrock=4068
    I:InvisBlock=4054
    I:InvisPressurePlate=4057
    I:LaserBeam=4048
    I:LaserSource=4049
    I:ObsInvisPressurePlate=4056
    I:ObsWallPressurePlate=4058
    I:Quicksand=4063
    I:SpikeBlock=4067
    I:WallPressurePlate=4059
    I:lightblock=4070
    I:pedestal=4069
}


####################
# general
#===================
# These settings dictate how item names are displayed.
####################

general {
    B:Adjectives=true
    B:Enchantments=true
    B:Material=true
}


####################
# item
####################

item {
    I:artifact=4000
    I:artifact_boots1=3995
    I:artifact_boots2=3996
    I:artifact_boots3=3997
    I:artifact_boots4=3998
    I:artifact_boots5=3999
    I:artifact_chest1=17430
    I:artifact_chest2=17431
    I:artifact_chest3=3987
    I:artifact_chest4=3988
    I:artifact_chest5=3989
    I:artifact_helm1=17426
    I:artifact_helm2=17427
    I:artifact_helm3=17428
    I:artifact_helm4=17432
    I:artifact_helm5=17429
    I:artifact_legs1=3990
    I:artifact_legs2=3991
    I:artifact_legs3=3992
    I:artifact_legs4=3993
    I:artifact_legs5=3994
    I:calendar=4021
    I:orichalcumDust=4020
    I:trapblade_diamond=4005
    I:trapblade_gold=4004
    I:trapblade_iron=4003
    I:trapblade_stone=4002
    I:trapblade_wood=4001
}


####################
# rendering
#===================
# Determines some options on invisible blocks
####################

rendering {
    # Set this to false to disable bounding boxes on invisible blocks.
    # ALERT: without bounding boxes you will not be able to destroy them!
    # This is only recommended for playing adventure maps.
    B:BoundInvis=true

    # Set this to true to render invisible blocks.  Even when false, they will render in your inventory.
    B:RenderInvis=false

    # Set to false to disable rendering of item names on display pedesals
    B:RenderNames=false

    # Sets the rendering type for swords in arrow traps.
    # Default is 'blade' which attempts to maintain the jaggy nature of the vanilla sword.
    # 'blade_alt' uses a smaller texture, maintaining strait lines and mirroring the vanilla item as closely as possible.
    # Additional textures can be created and set here as well, if desired, without replacing existing textures.
    S:TrapSwordIcon=blade

    # Sets the package the icons should be pulled from.
    # Default is 'artifacts' which pulls the default icons.
    # Not sure where this points otherwise.
    S:TrapSwordPackage=artifacts
}


####################
# spawning
#===================
# These settings alter the spawning rarity of artifacts in the various chests.
# Lower is rarer, higher is more common.  By default pyramids and temples generate ~2 total.
# Cross-Mod Treasure String ('ProceeduralGeneration') is for inter-mod treasure gen.
####################

spawning {
    I:Blacksmith=1
    I:Dungeons=0
    I:Mineshafts=0
    I:Pyramids=4
    I:Stronghold_Corridor=1
    I:Stronghold_Crossing=3
    I:Stronghold_Library=6
    I:Temples=8
    I:WizTowers=10
    I:crossModTreasureString_ProceeduralGeneration=5
}


####################
# worldgen
#===================
# By default this mod alters worldgen slightly, adding more and different traps to
# pyramids, temples, and strongholds as well as quicksand 'lakes'.
# These may be disabled individually.
####################

worldgen {
    B:Pyramids=true
    B:QuicksandPits=true
    B:Strongholds=true
    B:Temples=true
    B:UseAntibuilders=true
    B:WizardTowers=true

    # Enables the blacklist for worldgen.  If enabled, world gen objects will never generate in blacklisted dimensions.
    # Blacklist will override whitelist.  -1 and 1 (Nether and End) are always blacklisted.
    B:dimensionBlacklistEnable=false
    I:dimensionBlacklistList <
        -1
        1
     >

    # Enables the whitelist for worldgen.  If enabled, world gen objects will only generate in whitelisted dimensions.
    B:dimensionWhitelistEnable=false
    I:dimensionWhitelistList <
        0
     >
}


