# Configuration file

####################
# block
####################

block {
    I:BluePrintPrinter=3686
    I:BlueprintProjector=3690
    I:ChemicalStorage=3687
    I:Decomposer=3692
    I:FusionChamber=3688
    I:GhostBlock=3689
    I:LeadedChest=3684
    I:Microscope=3693
    I:Synthesis=3691
    I:UraniumOre=3685
}


####################
# general
####################

general {
    B:DebugMode=false
    I:UpdateRadius=20
    B:WorldGenOre=true
}


####################
# item
####################

item {
    I:AtomicManipulator=4739
    I:Blueprint=4741
    I:ChemistJournal=4742
    I:Element=4736
    I:FusionStar=4740
    I:Lens=4738
    I:Molecule=4737
    I:Polytool=4743
}


